.centras{
    text-align: center;
    h1{
        text-align: center;
    }
    input{
        border:none;
        border-bottom: 1px black solid;
        outline: none;
    }
    a{
        margin: 3px;
        color: white;
    }
}